{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <title>قالب فروشگاهی کارین</title> {% endcomment %}
  <link rel="stylesheet" href="{% static 'account_module/app.css' %}">

  {% comment %} <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'account_module/swiper.css' %}">

  <!-- ==========================  DARK MODE SCRIPT ============================= -->
  <script type="text/javascript">
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
</head>


{% block page_title %} {% endblock page_title %}

{% block content %}



    <section class="relative flex items-center justify-center min-h-screen w-full">
        <!-- background -->
        <div class="pointer-events-none absolute inset-0 flex w-screen items-center justify-center overflow-hidden 
        [mask-image:radial-gradient(circle_at_center,rgba(255,255,255,1)_0%,rgba(255,255,255,0)_85%)]">

            <svg
                class="absolute left-0 top-0 h-full w-full stroke-black/10 stroke-[2] 
        [mask-image:radial-gradient(circle_at_center,rgba(255,255,255,1)_20%,rgba(255,255,255,0)_95%)] dark:stroke-white/10">
                <rect width="100%" height="100%" stroke-width="0" fill="url(#grid-pattern)"></rect>
                <defs>
                    <pattern id="grid-pattern" viewBox="0 0 64 64" width="60" height="60" patternUnits="userSpaceOnUse">
                        <path d="M64 0H0V64" fill="none"></path>
                    </pattern>
                </defs>
            </svg>
        </div>

        <div
            class="relative w-[27rem] mx-5 flex flex-col justify-center pt-12 pb-8 px-4 md:px-8 bg-white dark:bg-gray-800 shadow-md rounded-xl">
            <div class="flex items-center justify-center">
                <button class="toggle-theme absolute left-2 top-2 flex-center p-1.5 rounded-full text-gray-300">
                    <svg class="inline-block dark:hidden size-5">
                        <use href="#moon" />
                    </svg>
                    <svg class="hidden dark:inline size-5">
                        <use href="#sun" />
                    </svg>
                </button>
                <a href="index.html" class="flex flex-col text-center">
                    <span class="font-MorabbaMedium text-4xl flex items-center">
                        <span class="text-blue-500">edu</span> lebb
                    </span>
                </a>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <p class="mb-2 text-gray-800 dark:text-gray-100 font-DanaMedium text-lg">
                    تغییر رمز عبور
                </p>

                <form class="space-y-5" method="post">
                    {% csrf_token %}
                    <div>
                        {% comment %} <label for="passwordInput" class="block text-sm/6 font-medium text-gray-500 dark:text-gray-300">
                            رمز عبور باید حداقل ۸ حرفی باشد
                        </label> {% endcomment %}

                        <div data-toggle="password"
                            class="relative mt-3 flex items-center justify-between w-full dark:bg-gray-900 bg-slate-100 rounded-md transition-all outline-none focus-within:bg-white focus-within:border-indigo-400 focus-within:ring-2 focus-within:ring-indigo-100 dark:focus-within:ring-blue-400">
                            <input id="passwordInput" name="password1" required type="password"
                                class="p-3 w-full sm:text-sm/6 text-base appearance-none text-gray-800 dark:text-gray-100">
                                <button type="button" class="absolute left-3 top-3 toggle-password">
                                    <svg class="size-5 text-gray-500">
                                        <use href="#eye"></use>
                                    </svg>
                            </button>
                        </div>

{% comment %}                         
                        <ul class="w-full mt-6 flex items-center justify-center gap-x-2">
                            <li id="bar1" class="w-1/3 bg-gray-300 rounded h-1"></li>
                            <li id="bar2" class="w-1/3 bg-gray-300 rounded h-1"></li>
                            <li id="bar3" class="w-1/3 bg-gray-300 rounded h-1"></li>
                        </ul> {% endcomment %}

                        
                        {% comment %} <ul class="mt-6 space-y-1.5 text-sm text-gray-400 pr-4">
                            <li id="lengthCheck">حداقل ۸ حرف</li>
                            <li id="numberCheck">شامل عدد</li>
                            <li id="uppercaseCheck">شامل یک حرف بزرگ</li>
                        </ul> {% endcomment %}

                        <div data-toggle="password"
                            class="relative mt-6 flex items-center w-full bg-slate-100 rounded-md transition-all outline-none focus-within:bg-white focus-within:border-indigo-400 focus-within:ring-2 focus-within:ring-indigo-100 dark:bg-gray-900 dark:focus-within:ring-blue-400">
                            <input type="password" id="confirmPassword" name="password2" required placeholder="تکرار رمز عبور*"
                                class="p-3 w-full sm:text-sm/6 text-base appearance-none text-gray-800 dark:text-gray-100">
                            <button type="button" class="absolute left-3 top-3 toggle-password">
                                <svg class="size-5 text-gray-400">
                                    <use href="#eye"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
            {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
                    <div class="mt-6">
                        <button  type="submit" class="submit-btn">تغییر رمز</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


{% endblock content %}