{% extends "base.html" %}
{% load static %}
{% load poll_extras %}
    
{% block content %}


    <section class="home_bg hb_height"
        style="background-image: url(assets/img/bg/home-bg.jpg); background-size:cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="hero-text ht_top">
                        <h1>
                            <span>مطالعه هوشمند</span>جایی که دانش با وب ملاقات می کند
                        </h1>
                        <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است.
                            چاپگرها و</p>
                    </div>
                    <div class="home_sb">

                        
                        <form method="get" action="{% url 'course_list' %}" class="banner_subs">
                            <input name="search" type="text" class="form-control home_si" placeholder="دوره خود را اینجا جستجو کنید"
                                 value="{{ search }}"><button type="submit" class="subscribe__btn">جستجو کردن<i
                                    class="fa fa-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="hero-text-img">
                        <img src="assets/img/home-img2.png" class="img-fluid" alt="">
                        <div class="home_ps">
                            <span class="ti-user"></span>
                            <h2>4500+</h2>
                            <p>دانش آموز فعال</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="count_area counter_feature">
        <div class="container">
            <div class="row">
                {% for  counter in counters  %}
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-counter">
                        <span class="{{ counter.icon_class }}"></span>
                        <h2 class="counter-num">{{ counter.value }}</h2>
                        <p> {{ counter.title }} </p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>


    <section class="top_cat__area section-padding"
        style="background-image: url(assets/img/bg/shape-1.png); background-size:cover; background-position: center center;">
        <div class="container">
            <div class="section-title text-center">
                <h2>{{about.title}}</h2>
                <p>{{about.description_1}}</p>
            </div>
            <div class="row">
                {% for  feature in about.features.all %}
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                    data-wow-offset="0">
                    <div class="single_tp">
                        <span class="sc_one">{{feature.order}}</span>
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.short_description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="ab_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
                    data-wow-offset="0">
                    <div class="ab_img"><img src="{{about.image.url}}" class="img-fluid" alt="image"></div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0">
                    <div class="ab_content">
                        <h2>{{about.title}}</h2>
                        <p>{{about.description_1}}</p>
                        <p>{{about.description_2}}</p>
                        <ul>
                            {% for   benefit in about.benefits.all  %}
                            <li>
                                <span class="ti-check"></span>{{benefit.title}}  
                            </li>
                            {% endfor %}
                            
                        </ul>
                        <a class="btn_one" href="">{{about.button_text}}<i class="ti-arrow-top-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="home_course section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-6 col-xs-12">
                    <div class="section-title">
                        <h2>با بیش از<b>80000+</b><br>سازندگان دوره ها و یادگیری</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="cour_btn"><a href="{% url "course_list" %}" class="btn_one">مشاهده تمام دوره ها<i
                                class="ti-arrow-top-left"></i></a></div>
                </div>
            </div>
            <div class="row">
                {% for course in courses %}
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="{{course.image.url}}" class="img-fluid" alt="course-image"><span>{{course.category}}</span>
                        </div>
                        
                        <h4><a href="{{course.get_absolute_url}}">{{course.title}}</a></h4>
                        {% comment %} <p><span class="ti-book"></span>12 دوره</p> {% endcomment %}
                        <p><span class="ti-alarm-clock"></span> روز {{course.duration }}</p>
                        <div class="price">هزینه دوره - {{course.price|three_digits_currency}} تومان</div>
                    </div>
                </div>
                {% empty %}

                            <p>محصولی وجود ندارد</p>
                {% endfor %}
            </div>
        </div>
    </section>



    <section class="team_area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>با مربیان ما آشنا شوید</h2>
                <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از
                    گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
            </div>
            <div class="row">
                {% for  Instructor in instructors  %}
                <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0">
                    <div class="our-team">
                        <div class="team-content">
                            <a href="{% url 'Instructor_detail' Instructor.slug %}"><img src="{{Instructor.image.url}}" alt=""></a>
                            <ul class="social-links">
                                <li><a href="#" class="ti-twitter"></a></li>
                                <li><a href="#" class="ti-linkedin"></a></li>
                                <li><a href="#" class="ti-facebook"></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3> {{Instructor.full_name}}</h3>
                            <span>{{Instructor.position}} </span>
                        </div>
                        <div class="sth_det2">
                            <span class="ti-file"><u>{{Instructor.courses.all.count }} دوره</u></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>




    <section class="testi_area section-padding">
        <div class="container">
            <div class="section-title">
                <h2>آنچه دانش آموزان می گویند برای انجام<br>دوره آنلاین آنها</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div id="testimonial-slider2" class="owl-carousel">

                        {% for  testimonial in testimonials  %}
                        <div class="testimonial">
                            <img src="{% static "img/quote.png" %}" alt="">
                            <div class="testimonial_content">
                                {% for rate in testimonial.rate|times %}
                                <i class="ti-star"></i>
                                {% endfor %}
                                <p>    {{testimonial.text}} </p>
                            </div>
                            <div class="testi_pic_title">
                                <img src="{{testimonial.image.url}}" alt="">
                                <h4> {{testimonial.full_name}}</h4>
                                <p>{{testimonial.company}} </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="blog" class="blog_area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>آخرین وبلاگ و اخبار</h2>
                <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از
                    گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
            </div>
            <div class="row">
                {% for  blog in blogs  %}
                <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                    data-wow-offset="0">
                    <div class="single_blog">
                        <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.title }}">
                        <div class="content_box">
                            <span>{{ blog.created_at|date:"Y/m/d" }}|<a href="blog_single.html">{{ blog.category.title }}</a></span>
                            <h2><a href="blog_single.html">{{ blog.title }}</a></h2>
                            <a class="btn_one" href="{{ blog.get_absolute_url }}">ادامه مطلب<i class="ti-arrow-top-left"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>



{% endblock content %}