{% load static %}
    
    <footer>
        <div class="footer section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="single_footer">
                            <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
                            <p>{{ site_setting.footer_description }}</p>
                            <div class="social_profile">
                                <ul>
                                    <li><a href="{{ site_setting.facebook }}" class="f_facebook"><i class="ti-facebook" title="Facebook"></i></a></li>
                                    <li><a href="{{ site_setting.twitter }}" class="f_twitter"><i class="ti-twitter" title="Twitter"></i></a></li>
                                    <li><a href="{{ site_setting.instagram }}" class="f_instagram"><i class="ti-instagram" title="Instagram"></i></a>
                                    </li>
                                    <li><a href="{{ site_setting.linkedin }}" class="f_linkedin"><i class="ti-linkedin" title="LinkedIn"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% for  box in footer_boxes  %}
                    <div class="col-lg-2 col-sm-6 col-xs-12">
                        <div class="single_footer">
                            <h4> {{ box.title }}</h4>
                            <ul>
                                {% for  link in box.links.all  %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="single_footer">
                            <h4>اطلاعات تماس</h4>
                            <div class="sf_contact">
                                <span class="ti-map"></span>
                                <p>{{ site_setting.address }}</p>
                            </div>
                            <div class="sf_contact">
                                <span class="ti-mobile"></span>
                                <p>{{ site_setting.phone }}</p>
                            </div>
                            
                            <div class="sf_contact">
                                <span class="ti-email"></span>
                                <p>{{ site_setting.email }}</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="foot_copy">
            <div class="footer_copyright">
                <p>{{ site_setting.copyright }}</p>
            </div>
        </div>
    </footer>