{% extends "base.html" %}
{% load static %}
{% load poll_extras %}
    
    
{% block content %}
    <section class="section-top">
        <div class="container">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s"
                    data-wow-offset="0">
                    <h1>جزئیات دوره</h1>
                    <ul>
                        <li><a href="{% url "home" %}">صفحه اصلی</a></li>
                        <li>/ جزئیات دروس</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="our_event section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-xs-12">
                    <div class="single_event_single">
                        <img alt="" class="img-fluid" src="{{course.image.url}}">
                        <div class="single_event_text_single">
                            <h4>{{course.title}}</h4>
                            <span><i class="fa fa-calendar"></i>{{course.created_at }}</span><span><i class="fa fa-clock-o"></i>{{course.duration }}
                                روز</span><span><i class="fa fa-table"></i><strong>{{course.available_seats }} صندلی موجود</strong></span>
                            <p>{{course.short_description }}</p>
                            
                        </div>
                    </div>
                    <div class="course-details-content section-bg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a href="#overview" class="nav-link active" data-bs-toggle="tab">بررسی
                                    اجمالی</a></li>
                            <li><a href="#curriculum" class="nav-link" data-bs-toggle="tab">برنامه تحصیلی</a></li>
                            <li class="nav-item"><a href="#instructor" class="nav-link" data-bs-toggle="tab">مربی</a>
                            </li>
                            <li class="nav-item"><a href="#reviews" class="nav-link" data-bs-toggle="tab">بررسی ها</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show fade active" id="overview">
                                <div class="overview">
                                    <p> {{course.description }}</p>
                                    
                                    <div class="details-buttons-area">
                                        <a href="#0" class="custom-button theme-one">اکنون ثبت نام کنید<i
                                                class="fa fa-angle-right"></i></a><a href="#0"
                                            class="custom-button bg-white">عضویت دریافت کنید</a>
                                        <ul class="social-icons">
                                            <li><a href="#0" class="active"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#0"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#0"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="curriculum">
                                <div class="overview">
                                    <p>{{course.Study_program}}</p>
                                    
                                    <div class="details-buttons-area">
                                        <a href="#0" class="custom-button theme-one">اکنون ثبت نام کنید<i
                                                class="fa fa-angle-right"></i></a><a href="#0"
                                            class="custom-button bg-white">عضویت دریافت کنید</a>
                                        <ul class="social-icons">
                                            <li><a href="#0"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#0"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#0"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="instructor">
                                <div class="overview text-center">
                                    <div class="instructor-item">
                                        <div class="instructor-thumb"><a href="#0"><img src="{{course.instructor.image.url}}"
                                                    alt="instructor"></a></div>
                                        <div class="instructor-content">
                                            <h6 class="title"><a href="#0">{{course.instructor.full_name}} </a></h6>
                                            <span class="details">{{course.instructor.position}}</span>
                                        </div>
                                    </div>
                                    <p>{{course.instructor.bio}}</p>
                                    <div class="details-buttons-area">
                                        <ul class="social-icons justify-content-center w-100">
                                            <li><a href={{course.instructor.facebook}}><i class="fa fa-facebook"></i></a></li>
                                            <li><a href={{course.instructor.twitter}} class="active"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href={{course.instructor.instagram}}><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews">
                                <div class="client-review">
                                    <div class="review-comments">
                                        <h6 class="review-title">نظرات ({{ course.reviews.count }})</h6>
                                        <ul class="review-contents">
                                            {% for review in course.reviews.all %}
                                                <li>
                                                    {% comment %} <div class="thumb"><img src="assets/img/client04.png" alt="course">
                                                    </div> {% endcomment %}
                                                    <div class="cont">
                                                        <h6 class="subtitle"> {{ review.name }} </h6>
                                                        <div class="ratings">

                                                            {% for i in "12345" %}

                                                                {% if forloop.counter <= review.rate %}
                                                                    <span style="color: gold">
                                                                        ★
                                                                    </span>
                                                                {% else %}
                                                                    <span style="color: gray">
                                                                        ★
                                                                    </span>
                                                                {% endif %}

                                                            {% endfor %}

                                                           

                                                        </div>
                                                        <p>{{ review.comment }}</p>
                                                    </div>
                                                </li>
                                                {% empty %}
                                                <li>
                                                    هنوز نظری ثبت نشده است.
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <div class="review-form">
                                        <h6 class="review-title">یک بررسی اضافه کنید</h6>
                                        <form method="post" class="row client-form align-items-center">

                                            {% csrf_token %}

                                            <div class="col-md-4">
                                                {{ form.name }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form.email }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form.rate }}
                                            </div>

                                            <div class="col-md-12">
                                                {{ form.comment }}
                                            </div>

                                            <div class="col-12">
                                                <button type="submit" class="custom-button rounded">
                                                    ارسال نظر
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="course_features">
                        <h3>ویژگی های دوره</h3>
                        <ul>
                            <li>
                                <i class="fa fa-calendar"></i>طول دوره<b>{{course.duration }} روز</b>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>کل سخنرانی ها<b>{{course.total_lectures}}</b>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>کل دانش آموزان<b>{{course.students_count}}</b>
                            </li>
                            <li>
                                <i class="fa fa-trophy" ></i>گواهینامه<b {% if not course.has_certificate %} style="background-color: red;" {% endif %}>{% if course.has_certificate %} آره  {% else %}نه{% endif %}</b>
                            </li>
                        </ul>
                    </div>
                    <div class="event_info_price">
                        <h4>قیمت - {{course.price|three_digits_currency}} تومان</h4>
                    </div>
                    <div class="event_info_register"><a class="btn_one" href="#">امروز ثبت نام کنید</a></div>
                    <div class="related_course">
                        <h3>دوره مرتبط</h3>
                        {% for product in related_courses %}
                        <div class="single_rc">
                            {% comment %} <div class="rc_img"><img src={{product.image.url}} alt=""></div> {% endcomment %}
                            {% comment %} <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i> {% endcomment %}
                            <h4><a href="#"> {{ product.title }}</a></h4>
                            <span>${{product.price|three_digits_currency}}</span>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="sidebar-post">
                        <div class="sidebar_title">
                            <h4>دسته بندی ها</h4>
                        </div>
                        <div class="single_category">
                            <ul>
                                {% for category in categories %}
                                <li><a href="#">{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <div class="sidebar-post">
                        <div class="sidebar_title">
                            <h4>ما را دنبال کنید</h4>
                        </div>
                        <div class="single_social">
                            <ul>
                                <li>
                                    <div class="social_item b_facebook"><a href="#" title="facebook"><i
                                                class="fa fa-facebook"></i><span class="item-list">150 هزار
                                                لایک</span></a></div>
                                </li>
                                <li>
                                    <div class="social_item b_twitter"><a href="#" title="twitter"><i
                                                class="fa fa-twitter"></i><span class="item-list">138 هزار دنبال
                                                کننده</span></a></div>
                                </li>
                                <li>
                                    <div class="social_item b_youtube"><a href="#" title="youtube"><i
                                                class="fa fa-youtube"></i><span class="item-list">90 هزار
                                                مشترک</span></a></div>
                                </li>
                                <li>
                                    <div class="social_item b_pinterest"><a href="#" title="pinterest"><i
                                                class="fa fa-pinterest"></i><span class="item-list">350 هزار دنبال
                                                کننده</span></a></div>
                                </li>
                                <li>
                                    <div class="social_item b_tumblr"><a href="#" title="rss"><i
                                                class="fa fa-tumblr"></i><span class="item-list">901 فالوور</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social_item b_rss"><a href="#" title="rss"><i
                                                class="fa fa-rss"></i><span class="item-list">411 فالوور</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}